
html {
  font-size: 62,5%;
  font-weight: normal;
}

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: red;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}